<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field clearfix">
    <p class="clearfix"><%= f.label :login %></p>
    <%= f.text_field :login %>
  </div>

  <div class="field clearfix">
    <p class="clearfix"><%= f.label :password %></p>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SignUpCollapse" aria-expanded="false" aria-controls="SignUpCollapse">
  NEW TO EMS
</button>

<div class="collapse" id="SignUpCollapse">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field clearfix">
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </div>

    <div class="field clearfix">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field clearfix">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <p class="clearfix">
      The password should be at least eight characters long. 
      To make it stronger, use upper and lower case letters,
      numbers, and symbols like ! " ? $ % ^ & ).
    </p>

    <div class="field clearfix">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>
  <%= render "devise/shared/links" %>

  <p class="clearfix">
    Your personal data will be used to support your experience
    throughout this website, to manage access to your account,
    and for other purposes described in our 
    <a href="http://brentmark-prod.square63.net//privacy-policy/"target="_blank">privacy policy
    </a>.
  </p>
</div>
