
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>




  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SignUpCollapse" aria-expanded="false" aria-controls="SignUpCollapse">
    NEW TO EMS
  </button>
<div class="collapse" id="SignUpCollapse">
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :full_name %><br />
          <%= f.text_field :full_name %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <p>
          The password should be at least eight characters long. 
          <br>
          To make it stronger, use upper and lower case letters,
          <br> numbers, and symbols like ! " ? $ % ^ & ).
        </p>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
          </div>
          <% end %>
          <%= render "devise/shared/links" %>

          <p>
            Your personal data will be used to support your experience
            <br> throughout this website, to manage access to your account,
            <br> and for other purposes described in our <a href="http://brentmark-prod.square63.net//privacy-policy/"target="_blank">privacy policy</a>.
          </p>
</div>

