<div class="jumbotron text-center">
  <h1>Categories</h1>
  <%= link_to 'Add New Category', new_admin_category_path %>
</div>

<div class="page-content page-container" id="page-content">
  <div class="d-flex justify-content-center">
    <div class="card user-card-full">
      <table class="table">
        <thead>
          <tr>
            <th> ID </th>
            <th> Title </th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td> <%= category.id %> </td>
              <td> <%= category.title %> </td>
              <td> <%= link_to 'Show', admin_category_path(category) %> </td>
              <td> <%= link_to 'Edit', edit_admin_category_path(category) %> </td>
              <td> <%= link_to "Delete", admin_category_path(category), data: { confirm: "Are you sure?" }, method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
