<div class="jumbotron text-center">
  <h1>Products</h1>
  <div id="card">
    <%= render 'cards/card' %>
  </div>
</div>

<dix class="col-md-4">
  <div class ="row">
    <% @products.each do |product| %>
      <div class="card card2">
        <img><%= image_tag(product.product_image) %></img>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text"><%= number_to_currency(product.price) %></p>
          <td>
            <%= form_for @order_item, remote: true do |form|%>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.number_field :quantity, value: 1, min: 1 %>
              <%= form.submit "Add to Cart" %>

            <% end %>
          </td>
          <a href="#" class="btn btn-primary">Add To Cart</a>
          <a><%= link_to "Details", product_path(product), class: 'btn btn-primary float-right' %></a>
        </div>
      </div>
    <% end %>
  </div>
</dix>
