<!DOCTYPE html>
<html>
  <head>
    <title>EMS</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">EMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-supported-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">
              <%= link_to "Home", root_path %>
            </a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link">
                <%= link_to "My Profile", user_path(current_user) %>
              </a>
            </li>
            <% if !(current_user.admin?) %>
            <li class="nav-item">
              <a class="nav-link">
                <%= link_to "Products", products_path %>
              </a>
            </li>
            <% end %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <a class="nav-link">
                 <%= link_to "List Users", admin_users_list_path %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <%= link_to "List Categories", admin_categories_path %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <%= link_to "List Products", admin_products_path %>
                </a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link">
                <%= link_to "Sign In", new_user_session_path %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>

</html>
